<!DOCTYPE html>
<html lang="en">
<head>
    <title>PORTAL DE DATOS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="~/~/fonts/beyond_the_mountains-webfont.css" type="text/css" />
    <!-- Stylesheets -->
    <link href="~/~/plugin-frameworks/bootstrap.min.css" rel="stylesheet">
    <link href="~/~/plugin-frameworks/swiper.css" rel="stylesheet">
    <link href="~/~/fonts/ionicons.css" rel="stylesheet">
    <link href="~/common/styles.css" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container">
            <div class="right-area">
                <h6>CONTACTO: +504 99653045</h6>
            </div><!-- right-area -->
            <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
            <ul class="main-menu font-mountainsre" id="main-menu"></ul>
            <div class="clearfix"></div>
        </div><!-- container -->
    </header>
    <div class="triangle-up pos-bottom"></div>
        <div  class ="container h-100">
          <div class= "dplay-tbl" >
                <div class="dplay-tbl-cell center-text color-black pt-90">
                    <h4><b>LO MEJOR EN TECNOLOGIA</b></h4>
                    <h3 class="p-30 p-40">Catalago de Ventas</h3>
                </div><!-- dplay-tbl-cell -->
            </div><!-- dplay-tbl -->
        </div><!-- container -->

      @RenderBody()

       
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">
            <div class="center-text pt-30">
                <p class="underline-secondary"><b>Direccion:</b></p>
                <p>San Pedro Sula, 10 calle 18 avenida </p>
            </div>
            <div class="center-text pt-30">
                <p class="underline-secondary mb-10"><b>Telefono:</b></p>
                <a href="tel:+504 99653045 ">+504 99653045 </a>
            </div>
            <div class="center-text pt-30">
                <p class="underline-secondary mb-10"><b>Correo Electronico:</b></p>
                <a href="mailto:yourmail@gmail.com"> yourmail@gmail.com</a>
            </div>
            <p class="color-light font-9 mt-50 mt-sm-30">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
        <!-- container -->
        <!-- SCIPTS -->
        <script src="~/~/plugin-frameworks/jquery-3.2.1.min.js"></script>
        <script src="~/~/plugin-frameworks/bootstrap.min.js"></script>
        <script src="~/~/plugin-frameworks/swiper.js"></script>
        <script src="~/common/scripts.js"></script>
</body>
</html>